@CHARSET "EUC-KR";
/*본문*/
	#content_div {
		padding:5%;
		padding-left:15%;
	}
	#main_section {
		position:relative;
		overflow:hidden;
		padding-left:150px;
	}
	#main_section > div {
		float:left;
		padding: 20px 20px 0px 20px;
		width:43%;
	}
	#main_section > div > article{
		width:100%;
	
	}
	#main_section > div > article > img {
		
	}
	#main_section > div > article > img:hover {
		opacity:0.7;
	}