@CHARSET "EUC-KR";
/*본문*/
	#content_div{
	width:70%;
	position: relative;
	text-align: center;
	align:center;
	margin-left:15%;
	margin-top:5px;
	}
	#content > div{
		display:block;
		overflow: hidden;
	}
	#border{
		margin-bottom: 10px;
	}
	#middle{
		float:left;
	}