@CHARSET "EUC-KR";

li{list-style:none; }
a{text-decoration:none;}
img{border:none;
    padding:0px;
}
	#header_div >#main_header{
		position:relative
		overflow:hidden;
		}
	#main_header > #shortcut{
		right:0;
		padding-right:100px;
		position:absolute;
	}
	#main_header > #title {
		left:30%;
		padding:30px;
		position:relative;
	}
	#main_header > #login{
		left:60%;
		position:relative;
		padding-bottom:20px;
		display:inline-block;
	}
	#main_header > #login > button {
		border:none;
	}
	#menu {
		position:relative;
	}
	#menu > ul {
		position:relative;
		overflow:hidden;
		font-family:'나눔고딕'
	}
	#menu > ul > li{
	float:left;
	font-size:10pt;
	border:1px solid black;}
	#menu > ul > li > a{
        color:black;
        display:block;
        padding:10px 70px 10px 70px;
    }
    #menu > ul > li:hover{
    	
    }
