@CHARSET "EUC-KR";

li{list-style:none; }
a{text-decoration:none;}
a:visited{color:white;}
a:HOVER{color:black}
img{border:none;}
button{border:none;
		background-color:#FFB5DA;}
body{
	background-image:url('photo/backpink.jpg');
	background-size:100%;
	background-repeat:no-repeat;
	background-color :white;
	overflow: scroll;
}
*{
margin:0px;
padding:0px;
}
	#header_div{
		width:100%;
	}
	#main_header{
		position:relative;
		overflow:hidden;
	}
	#shortcut{
		right:0;
		padding-right:10%;
		position:absolute;
	}
	#title {
		left:40%;
		padding:2%;
		position:relative;
	}
	#login{
		right:30%;
		position:relative;
		padding-bottom:10px;
		display:inline-block;
	}
	#menu {
		position:relative;
		padding-left:13%;
	}
	#menu > ul {
		position:relative;
		overflow:hidden;
	
	}
	#menu > ul > li{
	float:left;
	font-family:'나눔고딕';
	font-color:white;
	font-size:12pt;
	padding-left:7%;
	padding-right:7%;
	padding-top:10px;
	padding-bottom:10px;
	margin-bottom:10px;
	background-color:#d4dada;
	}
