
	#content_div {
		padding:50px;
		padding-left:150px;
	}
	#main_section {
		position:relative;
		overflow:hidden;
		padding-left:150px;
	}
	#notice_div {
		float:left;
        margin: 20px;
		width: 400px;
	}
    #profile_div {
        margin: 20px;
        width: 900px;
        height: auto;
	}
    #profile_div > article {
        background-image: url(photo/main.jpg);
        background-size: 100%;
	   background-repeat:no-repeat;
    }
    #profile_div > article > h2 {
        color: white;
        text-align: right
    }
    #profile_div > article > h1 {
        color: white;
        text-align: right
    }

    article {
        background-color: rgba(90,90,90,0.4);
        margin: 10px;
        padding: 15px;
    }

