@CHARSET "EUC-KR";

table{
	width:100%;
}
th{
	text-align: center;
	background-color: rgba(102, 153, 255,0.6);
}
td{
	padding-left:10px;
	background-color:white;
	border-top: 1px solid gray;
	text-align: left;
}
#text{
	height:300px;
	overflow: scroll;
	text-align: justify;
	vertical-align: top;
}
#btn{
	text-align: right;
	background-color: #dae3ea;
}
.class{
	width:100%;
	text-align: center;
	background-color:white;
	border-top: 1px solid gray;
	text-align: left;
}